<div class="row">
  <div class="col-md-11 range-slider-container">
    <input type="range" class="range-slider" min={{minVal}} max={{maxVal}} value={{rangeValue}} oninput={{action (mut rangeValue) value="target.value"}} disabled={{disabled}}>
  </div>
</div>
